{
    padding:0px;
    margin:0px;
}
.navstyle{
    background-color:black;
    height: auto;
    padding: 15px;
}
.stylesheet{
    color: white;
    text-decoration: none;
    padding: 36px;
    margin: 68px;
    
}